html, body { height: 100%;}

#map {  margin: 0; padding: 0; height: 100%; height: 50%; }

html {
    font: 24px/1.7 "Helvetica Neue", sans-serif;
    text-align: center;
    color: #222;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: teal;
}

h1 {
    letter-spacing: -0.05em;
}

h2 {
    font-size: 0.83333em;
}

p {
    font-size: 0.7em;
}

pre {
    border: 2px solid;
    padding: 1em;
    white-space: pre-wrap;
    font-size: 0.54167em;
    text-align: left;
    background-color: #fff;
}

.info__inner > p > code {
    padding: 0.25em;
    border-radius: 4px;
    border: 1px solid #bbb;
}

hr {
    max-width: 20em;
    margin: 2em auto;
    border: solid #ddd;
    border-width: 1px 0 0;
}

.header {
    padding: 3em 1em;
}

.header > h1,
.header > p {
    margin-top: 0;
    margin-bottom: 0;
}

.info {
    padding: 2em 1em;
    overflow: hidden;
    background-color: #f2f2f2;
}

.info__inner {
    max-width: 30em;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-top: 1em;
    margin-bottom: 1em;
}

@media (max-width: 479px) {
    .col {
        width: 100% !important;
    }
}

@media (min-width: 30em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}


.col {
    height: 4em;
    vertical-align: middle;
    line-height: 4em;
    background-color: teal;
}

.col:nth-of-type(2n) {
    background-color: #95cbcb;
}

.footer {
    padding: 0.5rem 1rem 1.5em;
}

.search {
  outline: none;
  display: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  text-align: center;
  width: 80%;
  height: 60px;
  right: 0;
  padding: 10px 20px 12px 0px;
  border: none;
  font: normal 25px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgba(0, 142, 198, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("");
  background-repeat: no-repeat;
  background-position: 26% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  border-bottom: thin solid rgba(255, 255, 255, .2);
}

.Stext {
  outline: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 19px/1.2 "Roboto", Helvetica, sans-serif;
  color: rgba(255, 255, 255, .7);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

body {
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}

.search-button {
   outline: none;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 44px;
  height: 60px;
  cursor: pointer;
  padding: 10px 20px;
  border: 4px solid rgba(255, 255, 255, 1);
  -webkit-border-radius: 99px;
  border-radius: 99px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("http://i62.tinypic.com/295aes7.png"), rgba(0, 0, 0, 0.75);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  text-shadow: -1px -1px 0 rgba(15, 73, 168, 0.66);
  -webkit-transition: all 240ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 240ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 240ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 240ms cubic-bezier(0.42, 0, 0.58, 1);
}

.search-button:hover {
  background: url("http://i62.tinypic.com/295aes7.png"), rgba(255, 255, 255, 0.69);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.search-button:active {
  background: url("http://i62.tinypic.com/295aes7.png"), rgba(0, 0, 0, 0.73);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search:hover {
  border-bottom: thin solid rgba(0, 0, 0, .9);
  -webkit-box-shadow: 0 8px 6px -6px rgba(255, 255, 255, .2);
  -moz-box-shadow: 0 8px 6px -6px rgba(255, 255, 255, .2);
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, .2);
}